server:
  port: 8081

spring:
  application:
    name: user
  datasource:
    url: jdbc:h2:mem:usersdb
    driverClassName: org.h2.Driver
    username:
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect